@use 'variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: variables.$Light-Grayish-Blue;
    font-family: variables.$Font-Body;
    font-size: variables.$Font-Body-Size;
}

